<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    @RenderSection("css", required: true)
    <link rel="shortcut icon" href="~/image/home/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title | Helperland</title>
</head>

@*<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">*@
<body>
    <section class="home">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" asp-controller="Helperland" asp-action="Index"> <img src="~/image/home/logo.png" height="28" alt="Brand" /></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    @if (@ViewBag.UType == 1)
                    {
                        <li class="nav-item">
                            <a class="nav-link menu" asp-controller="Customer" asp-action="BookService">Book a cleaner </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link menu" asp-controller="Helperland" asp-action="Prices">Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="javascript:void(0)">Our Guarantee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" href="javascript:void(0)">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" asp-controller="Helperland" asp-action="Contact">Contact us</a>
                    </li>
                    @if (@ViewBag.IsloggedIn == "success")
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-item nav-link notification_item">
                                <img class="notification" src="~/image/upcoming_service/notification.png" alt="notification icon"><span class="notification_number">2</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown user_setting">
                                <button class="btn  dropdown-toggle text-white" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/image/upcoming_service/user.svg" alt="user">

                                </button>


                                <ul class="dropdown-menu dropdown-menu-right text-start user-setting"
                                    aria-labelledby="dropdownMenuLink">
                                    <li><label class="dropdown-item text-dark">Welcome,<br><strong>@ViewBag.UserName</strong></label></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    @if (@ViewBag.UType == 1)
                                    {
                                        <li><a class="dropdown-item text-dark" role="button" asp-controller="Customer" asp-action="Dashboard">My Dashboard</a></li>
                                        <li><a class="dropdown-item text-dark" role="button" asp-controller="Customer" asp-action="MySetting">My Settings</a></li>
                                        <li><a class="dropdown-item text-dark" role="button" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }
                                    @if (@ViewBag.UType == 2)
                                    {
                                        <li><a class="dropdown-item text-dark" role="button" asp-controller="Provider" asp-action="Dashboard">My Dashboard</a></li>
                                        <li><a class="dropdown-item text-dark" role="button" asp-controller="Provider" asp-action="MySetting">My Settings</a></li>
                                        <li><a class="dropdown-item text-dark" role="button" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                    }

                                </ul>

                            </div>
                        </li>
                      }
                       else
                    {
                    <li class="nav-item">
                        <a class="nav-link menu loginbtn text-white" asp-controller="Helperland" asp-action="Index" asp-route-loginModal="true">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu" asp-controller="Account" asp-action="ProviderSignup">Become a Helper</a>
                    </li>
                    }
                    <li>
                        <div class="btn-group countryFlag">
                            <button class="btn dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"> <img src="https://cdn-icons-png.flaticon.com/128/555/555417.png" alt="flag"> </button>
                            <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                                <li>
                                    <a class="dropdown-item" data-img="https://cdn-icons-png.flaticon.com/128/555/555417.png" href="#"><img src="https://cdn-icons-png.flaticon.com/128/555/555417.png" alt="flag"></a>
                                </li>
                                <li>
                                    <a class="dropdown-item" data-img="https://cdn-icons-png.flaticon.com/128/206/206626.png" href="#"><img src="https://cdn-icons-png.flaticon.com/128/206/206626.png" alt="flag"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /////////////////////////////MOBILE NAVBAR START////////////////////////// -->
        <div class="mobileNav">
            <div class="mobileNavSpaccing">
                <a asp-controller="Helperland" asp-action="Index"><img class="mobileLogo" src="~/image/home/logo.png" alt="logo"></a>
                @if (@ViewBag.IsloggedIn == "success")
                {

                    <div class="mobileNotification">
                        <a href="#" class="nav-item nav-link notification_item">
                            <img class="notification" src="~/image/upcoming_service/notification.png" alt="notification icon"><span class="notification_number">2</span>
                        </a>
                    </div>
                }
                <div class="menubtn">
                    <button class="navbar-toggler"> <span></span> <span></span> <span></span> </button>
                </div>
            </div>
            <div class="sideNav">
                <div class="openSidenav">
                    <div class="closebtn"> <img src="~/image/home/times-solid.svg" alt="close"> </div>
                    <ul>

                        @if (@ViewBag.IsloggedIn == "success" && @ViewBag.UType == 1)
                        {
                            <li><h5 class="mobileNavMenu">Welcome <br />@ViewBag.UserName</h5></li>
                            <hr>
                            <li><a asp-controller="Customer" asp-action="Dashboard" class="mobileNavMenu">Dashboard</a></li>
                            <hr>
                            <li><a asp-controller="Customer" asp-action="ServiceHistory" class="mobileNavMenu">Service History</a></li>
                            <hr>
                            <li><a asp-controller="Customer" asp-action="DashServiceSchedule" class="mobileNavMenu">Service Schedule</a></li>
                            <hr>
                            <li><a asp-controller="Customer" asp-action="FavPro" class="mobileNavMenu">Favourite Pros</a></li>
                            <hr>
                            <li><a class="mobileNavMenu">Invoices</a></li>
                            <hr>
                            <li><a class="mobileNavMenu">Notification</a></li>
                            <hr>
                            <li><a asp-controller="Customer" asp-action="MySetting" class="mobileNavMenu">My Setting</a></li>
                            <hr>
                            <li><a class="mobileNavMenu" asp-controller="Account" asp-action="Logout">Logout</a></li>
                            <hr>
                        }

                        @if (@ViewBag.IsloggedIn == "success" && @ViewBag.UType == 2)
                        {
                            <li><h5 class="mobileNavMenu">Welcome <br />@ViewBag.UserName</h5></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="Dashboard" class="mobileNavMenu">Dashboard</a></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="NewService" class="mobileNavMenu">New Service Request</a></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="UpcomingService" class="mobileNavMenu">Upcoming Service</a></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="ServiceSchedule" class="mobileNavMenu">Service Schedule</a></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="ServiceHistory" class="mobileNavMenu">Service History</a></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="MyRating" class="mobileNavMenu">My Rating</a></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="BlockCustomer" class="mobileNavMenu">Block Customer</a></li>
                            <hr>
                            <li><a asp-controller="Provider" asp-action="MySetting" class="mobileNavMenu">My Setting</a></li>
                            <hr>
                            <li><a class="mobileNavMenu" asp-controller="Account" asp-action="Logout">Logout</a></li>
                            <hr>
                        }
                        @if (@ViewBag.UType == 1)
                        {
                            <li><a asp-controller="Customer" asp-action="BookService" class="mobileNavMenu">Book Now</a></li>
                            <hr>

                        }

                        <li><a asp-controller="Helperland" asp-action="Prices" class="mobileNavMenu">Prices & Servcies</a></li>
                        <hr>
                        <li><a href="javascript:void(0)" class="mobileNavMenu">Warranty</a></li>
                        <hr>
                        <li><a href="javascript:void(0)" class="mobileNavMenu">Blog</a></li>
                        <hr>
                        <li><a asp-controller="Helperland" asp-action="Contact" class="mobileNavMenu">Contact</a></li>
                        <hr>

                        @if (@ViewBag.IsloggedIn != "success")
                        {


                            <li><a class="mobileNavMenu loginbtn" asp-controller='Helperland' asp-action='Index' asp-route-loginModal='true'>Login</a></li>
                            <hr>
                            <li><a asp-controller="Account" asp-action="ProviderSignup" class="mobileNavMenu">Become a Helper</a></li>
                            <hr>
                        }

                        <li>
                            <div class="btn-group countryFlag">
                                <button class="btn dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false"> <img src="https://cdn-icons-png.flaticon.com/128/206/206626.png" alt="flag"> </button>
                                <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                                    <li>
                                        <a class="dropdown-item" data-img="https://cdn-icons-png.flaticon.com/128/206/206626.png" href="#"><img src="https://cdn-icons-png.flaticon.com/128/206/206626.png" alt="flag"></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" data-img="https://cdn-icons-png.flaticon.com/128/555/555417.png" href="#"><img src="https://cdn-icons-png.flaticon.com/128/555/555417.png" alt="flag"></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex justify-content-center">
                                <img style="width:50px;height:50px;" class="px-3" src="~/image/home/facebook-f-brands.svg" />
                                <img style="width:60px;height:50px;" class="px-3" src="~/image/home/instagram-brands.svg" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /////////////////////////////MOBILE NAVBAR END////////////////////////// -->
        @RenderSection("innerHeader", required: true)
    </section>
    @RenderBody()
    <!-- /*/////////////// FOOTER ////////////// */ -->
    <footer>
        <div class="container d-flex justify-content-between align-items-center fmenu">
            <img class="flogo" width="100px" src="~/image/price/logo.png" alt="" />
            <div class="d-flex flex-wrap text-center justify-content-center fmenulink"> <a class="px-3" asp-controller="Helperland" asp-action="Index">HOME</a> <a class="px-3" asp-controller="Helperland" asp-action="About">ABOUT</a> <a class="px-3" href="javascript:void(0)">TESTIMONIALS</a> <a class="px-3" asp-controller="Helperland" asp-action="Faqs">FAQS</a> <a class="px-3" href="javascript:void(0)">INSURRANCE POLICY</a> <a class="px-3" href="javascript:void(0)">IMPRESSUM</a> </div>
            <div> <img class="img-fluid fimg1" src="~/image/price/facebook.png" /> <img class="img-fluid fimg2" src="~/image/price/insta.png" /> </div>
        </div>
        <div class="d-flex justify-content-center align-items-center text-center hr-line">
            <hr />
        </div>
        <p class="text-center right mb-0">©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy </p>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("script",required:true)
</body>

</html>